<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cs" connectionString="DefaultEndpointsProtocol=https;AccountName=blobcarlos;AccountKey=0II6DT9YMaBrjuDtV1nJSyXD0Jk9lW7I38phah0LJnS4ZMTDa50b6ZV9lIvGhnTEoQ8jMEwj530E+ASthXf0sg==;EndpointSuffix=core.windows.net"/>
	</connectionStrings>
</configuration>